node_modules
.DS_Store
*.log

# Log4brains (salida de build de la knowledge base)
.log4brains

# Backend
backend/.env
backend/tmp
backend/build
backend/*.sqlite3

# Frontend
frontend/.env
frontend/dist
